<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>

</head>
<body">
    
  <%- include('./partials/gotop.ejs') %>

  <!----------------------------navbar---------------------------------------->
  <%- include('./partials/navbar2.ejs') %>


  <div id="home" class="w-25"></div>
  <!-----------------------------alert---------------------------------------->
  <% if(typeof msg !='undefined' && msg!=""){ %>
    <div class="container" style="margin-top: 8rem;" >
      <div class="alert <%= color %> alert-dismissible fade show text-center m-5" role="alert">
        <%= msg %>
    </div>
    </div>
  <% } %>


  <form action="/create" method="post" class="form-for-create container p-5">
      <h3>Create Table</h3>
      <hr>
      <div class="row g-3 align-items-center my-3">
          <div class="col-auto">
            <label for="tableName" class="col-form-label">Table Name:</label>
          </div>
          <div class="col-auto">
            <input type="text" id="tableName" class="form-control shadow-none"  name="tableName" required>
          </div>
      </div>
      
      <div class="row g-3 align-items-center my-3">
        <div class="col-auto">
          <label for="colNumber" class="col-form-label" > Number of Colummns:</label>
        </div>
        <div class="col-auto">
          <input type="number" id="colNumber" class="form-control shadow-none"  name="colNumber" min="1" steps="1" value="1" required>
        </div>
    </div>
      
        <table class="table my-5" id="createTable">
          <thead class="table-light">
            <tr>
              <th scope="col">S.No.</th>
              <th scope="col">Column Name</th>
              <th scope="col">Column Datatype</th>
              <th scope="col">Primary Key</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>
                <input type="text" id="colName1"  name="colName1"  class="form-control" aria-describedby="passwordHelpInline" required>
              </td>
              <td>
                <select class="form-select" aria-label="Default select example"  name="dataType1" required>
                  <option value="">Select Datatype</option>
                  <option value="string">String</option>
                  <option value="boolean">Boolean</option>
                  <option value="number">Number</option>
                  <option value="email">Email</option>
                  <option value="datetime">Datetime</option>
                </select>
              </td>
              <td>
                <input class="form-check-input" type="radio" name="primaryKey" id="primaryKey" require value="1"> 
              </td>
            </tr>
            
          </tbody>
        </table>
        <button type="submit" class="btn btn-outline-success">Create</button>
  </form>

  
  
  <% if(typeof data !='undefined' ){ %>
    <div class="container w-75 my-5 px-md-5 py-5">
      <table class="table bg-white">
        <thead class="table-dark">
          <tr>
            <th scope="col">Column Name</th>
            <th scope="col">Column Datatype</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i< data.colNumber; i++){ %>
            <tr>
              <td> <%= data[`colName${i+1}`] %> </td>
              <td> <%= data[`dataType${i+1}`] %> </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>
  <% } %>

  <!----------------------------footer------------------------------->
  <%-include('./partials/footer.ejs') %>

</body>
</html>