<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>

</head>
<body">
    
    <%- include('./partials/gotop.ejs') %>

    <!----------------------------navbar------------------------------->
    <%- include('./partials/navbar2.ejs') %>


    <div id="home" class="w-25"></div>
    <!--------------------alert---------------------------------------->
    <% if(typeof msg !='undefined' && msg!=""){ %>
      <div class="container" style="margin-top: 8rem;" >
        <div class="alert <%= color %> alert-dismissible fade show text-center m-5" role="alert">
          <%= msg %>
      </div>
      </div>
    <% } %>


    <form  method="get" class="form-for-create container p-5" id="edit-form" style="margin-bottom: 40vh;">
        <h3 >Edit Table</h3>
        <hr style="margin-bottom: 5rem;">

        <br>
        <button class="btn btn-outline-success shadow-none" id="insert-btn" type="summit"><i class="fa-solid fa-plus"></i> Insert</button>
        &nbsp; &nbsp; &nbsp;
        <button class="btn btn-outline-danger shadow-none" id="delete-btn" type="summit"><i class="fa-solid fa-minus"></i> Delete</button>
        
    </form>

    
    
   

    <%-include('./partials/footer.ejs') %>

</body>
</html>