<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body>
    <%- include('./partials/gotop.ejs') %>

    <!----------------------------navbar----------------------------------->
    <%- include('./partials/navbar.ejs') %>

    <div class="container d-flex flex-md-row flex-reverse-column align-items-center px-0 home" id="home" data-aos="fade-down">
        <div class="row w-100">
            <img src="/img/undraw_spreadsheet_re_cn18.svg" alt="" class="col-lg-5 col-12 px-lg-0 px-5">

            <div class="home-content col-lg-7 col-12 text-center pt-5">
                <p class="heading">Create the tables .....</p>
                <p class="content">Collect, organise and manage your data</p>
                <br><br><br>
                <p><a href="#sign-up" class="arrow"><i class="fa fa-solid fa-angle-down"></i></a></p>
            </div>
        </div>
    </div>

    <!----------------------------signup form------------------------------->
    <%- include('./partials/signup-login.ejs') %>
    <!----------------------------footer------------------------------------>
    <%-include('./partials/footer.ejs') %>

</body>
</html>