<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>

</head>
<body">
    
    <%- include('./partials/gotop.ejs') %>

    <!----------------------------navbar------------------------------->
    <%- include('./partials/navbar2.ejs') %>


    <div id="home" class="w-25"></div>
    <!--------------------alert---------------------------------------->
    <% if(typeof msg !='undefined' && msg!=""){ %>
      <div class="container" style="margin-top: 8rem;" >
        <div class="alert <%= color %> alert-dismissible fade show text-center m-5" role="alert">
          <%= msg %>
      </div>
      </div>
    <% } %>

    
    <form action="/view" method="post" class="form-for-create container p-5">
        <h3>View Table</h3>
        <hr>
        
        <div class="row g-3 align-items-center my-3">
            <div class="col-auto">
              <label for="tableName" class="col-form-label">Select Table Name:</label>
            </div>
            <div class="col-2">
                <select class="form-select" aria-label="Default select example"  name="tableName"  required>
                    <option value="" selected disabled>Select Table</option>
                    <% for(var i=0; i< data.length; i++){ %>
                    <option value="<%= data[i].tableName %>"><%= data[i].tableName %></option>
                    <%} %>
                  </select>
            </div>
           <div class="col-auto">
            <button type="submit" class="btn btn-outline-success">Show table</button>
           </div>
        </div>   
    

    </form>

    <% if(typeof tables !='undefined' && tables.length !==0){ %>
        <div class="card w-75 mt-3 py-1 mx-auto border border-primary">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <form action="/view" method="POST">
                        <input type="hidden" name="tableName" value="<%= tablename %>" />
                        <div class="row">
                            <div class="col-auto">
                               <select class="form-select" aria-label="Default select example"  name="column"  onchange="this.form.submit()" required>
                                   <option selected disabled>Select column for filtering</option>
                                <% for(var i=0; i< column.length; i++){ %>
                                   <% if(typeof selectedCol != undefined && selectedCol == column[i]){ %>
                                     <option value="<%= column[i] %>" selected><%= column[i] %></option>
                                   <% } else { %>
                                     <option value="<%= column[i] %>"><%= column[i] %></option>   
                                    <% } %>
                                    <% } %>
                               </select>
                            </div>
                            <% if(typeof datatype != 'undefined') { %>
                             <div class="col-auto">
                                <% if(datatype === 'varchar'){ %>
                                    <select name="filter" id="filter" class="col form-select mx-2">
                                
                                        <option value="=">Is Equal</option>
                                        <option value="!=">Is Not Equal</option>
                                        <option value="LIKE s">Starts with</option>
                                        <option value="LIKE e">Ends with</option>
                                        <option value="LIKE c">Contains</option>
                                        <option value="NOT LIKE c">Does Not Contains</option>
                                        <option value="IS NULL">NULL</option>
                                        <option value="IS NOT NULL">Not NULL</option>
                                    
                                     </select>
        
                                <% } else if(datatype === 'int') { %>
                                    <select name="filter" id="filter" class="col form-select mx-2">
                                
                                        <option value=">">Greater than</option>
                                        <option value="<">Less than</option>
                                        <option value="=">Is Equal</option>
                                        <option value="!=">Is Not Equal</option>
                                        <option value="IS NULL">NULL</option>
                                        <option value="IS NOT NULL">Not NULL</option>
                                        
                                    </select>  
                                <% } else if(datatype === 'boolean') { %> 
                                    <select name="filter" id="filter" class="col form-select mx-2">
                                
                                        <option value="TRUE">TRUE</option>
                                        <option value="FALSE">FALSE</option>
                                        
                                    </select>
                                <% } else if(datatype === 'email') { %> 
                                    <select name="filter" id="filter" class="col form-select mx-2">
                                
                                        <option value="=">Is Equal</option>
                                        <option value="!=">Is Not Equal</option>
                                        <option value="LIKE s">Starts with</option>
                                        <option value="LIKE e">Ends with</option>
                                        <option value="LIKE c">Contains</option>
                                        <option value="NOT LIKE c">Does Not Contains</option>
                                        <option value="IS NULL">NULL</option>
                                        <option value="IS NOT NULL">Not NULL</option>
                                        
                                    </select>
                                <% } else if(datatype === 'date time') { %> 
                                    <select name="filter" id="filter" class="col form-select mx-2">
                                
                                        <option value="<">Before</option>
                                        <option value="=">ON</option>
                                        <option value=">">After</option>
                                        <option value="IS NULL">NULL</option>
                                        <option value="IS NOT NULL">Not NULL</option>
                                        
                                    </select>  
                                <% } %>
                             </div>  
                             <% } %>
                             <% if(typeof datatype != 'undefined') { %>
                                <div class="col-auto" id=input-div>
                                   <% if(datatype === 'varchar'){ %>
                                            <input type="text" name="value" id="column_name" class="form-control col" >  
                                   <% } else if(datatype === 'int') { %> 
                                            <input type="number" name="value" id="column_name" class="form-control col" >
                                   <% } else if(datatype === 'email') { %> 
                                            <input type="text" name="value" id="column_name" class="form-control col" >
                                   <% } else if(datatype === 'date time') { %> 
                                            <input type="date" name="value" id="column_name" class="form-control col" >
                                   <% } %>
                                </div>  
                                
                             <div class="col-auto">
                                    <button class="btn btn-outline-dark col-auto mx-2" name="filter_data" onclick="document.getElementById('column_name').setAttribute('required','required')"><i class="fa fa-filter" ></i></button>
                                    <!--Reset filter (Inprogress)-->
                                    <button class="btn btn-outline-dark col-auto" name="refresh"><i class="fa fa-refresh"></i></button>
                             </div> 
                             <% } %> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <% } %> 


     <div class="container w-75 my-3 px-md-5 py-5 text-center">
        <% if(typeof tables !='undefined' && tables.length !== 0 ){ %>
        <table class="table bg-white">
          <thead class="table-dark">
            <tr>
            <% for(var i=0; i< column.length; i++){ %>
              <th scope="col"><%= column[i] %></th>
            <% } %>
            </tr>
          </thead>
          <tbody>
            <% tables.forEach(function(table){ %>
                <tr>
                    <% for(let key in table){ %>
                        <td><%= table[key] %></td>
                    <% } %>
                </tr>
             <% }) %> 
          </tbody>
        </table>
        <% } else { %>
                <h2 class="text-dark">No data available</h2>
          <% } %>
      </div>
   

    <%-include('./partials/footer.ejs') %>

</body>
</html>